.gallerytitle {
    margin-top: 79px;
    background: black;
    border-top: 2px solid #24c515;
    border-bottom: 2px solid #24c515;
    height: 80px;
}

.navLink {
    font-family: 'Celtic Garamond the 2nd';
    color: goldenrod;
    font-size: x-large;
    text-decoration: none;
    transition: .3s;
    margin-right: 40px;
}

.navLink:hover {
    color: #ffd82a;
}

.navLinkContainer {
    margin-top: 28px;
    margin-left: -190px;
    float: left;
}

.iconContainer {
    height: 100%;
    float: right;
    /* margin-top: -22px; */
}

.webconnect2 {
    width: 60px;
    height: auto;
    margin: 10px;
}


@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    .gallerytitle {
        margin-top: 109px;
    }

    .navLink {
        font-size: large;
    }

    .navLinkContainer {
        margin-left: -148px;
    }
}