.gallerytitle {
    margin-top: 79px;
    background: black;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    height: 80px;
}

.navLink {
    font-family: 'Celtic Garamond the 2nd';
    color: #ffd82a;
    /* font-size: x-large; */
    text-decoration: none;
    transition: .3s;
}

.navLink:hover {
    color: #0995d6;
}

.navLinkContainer {
    margin-top: 30px;
    margin-left: -255px;
    float: left;
    text-align: center;
}

.iconContainer {
    height: 100%;
    margin-left: 190px;
    margin-top: -82px;
}

.webconnect2 {
    width: 60px;
    height: auto;
    margin: 10px;
}

.linkBox {
    width: 200px;
    float: left;
    margin-right: 40px;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    .gallerytitle {
        margin-top: 109px;
    }

    .navLink {
        font-size: large;
    }

    .navLinkContainer {
        margin-left: -225px;
    }
}

@media screen and (max-width: 800px) {
    .iconContainer {
        margin-left: -80px;
        margin-right: auto;
        margin-top: 0;
    }
}