.holderbox {
    width: 1000px;
    height: 100%;
    position: fixed;
    /* display: hidden; */
    overflow: scroll;
    /* background-color: red; */
    margin-left: -500px;
    z-index: 9;
    text-align: center;

}

.centerholderbox {
    margin-left: 50%;
}