.footerContainer {
    width: 100%;
    height: 300px;
    margin-top: -300px;
    border-top: 2px solid #24c515;
    background: #000000;
    z-index: 5;
    position: relative;
    font-family: 'Celtic Garamond the 2nd';
    color: #ffd82a;
    text-align: center;
    float: left;

}

.webconnect {
    width: 50px;
    height: auto;
    margin: 10px;
}

@media screen and (max-width: 999px) {/*and (min-width: 64){*/
    .footerContainer {
        margin-top: -50px;
        float: left;
    }

    #h4footer {
        font-size: 10px;
    }
}