@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Celtic Garamond the 2nd';
    src: local("CELTG___"), url(../../assets/Fonts/CELTG___.TTF) format('truetype');
}

h1 {
    float: left;
}

h2 {
    float: left;
}

.capsLargeC {
    font-size: 40px;
    padding-top: 0px;
    margin-top: 13px;
    margin-right: 20px;
}

.capsSmallC {
    font-size: 40px;
    padding-top: 0px;
    margin-top: 13px;
    margin-right: 20px;
}

.non {
    padding-top: 29px;
    padding-left: 20px;
}

.continuumMarginLarge {
    margin-top: 90px;
}

.continuumMarginSmall {
    margin-top: 10px;
}

.holder {
    height: 80px;
    width: 415px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    transition: .2s;
}

.holder2 {
    height: 80px;
    width: 344px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
}

.cover {
    width: 100%;
    background: #131313e1;
    position: fixed;
    color: goldenrod;
    z-index: 10;
    font-family: 'Celtic Garamond the 2nd';
    padding-top: 10px;
    transition: .4s;
}

.mega {
    height: 200px;
}

.scroll {
    height: 70px;
}

.titleimg {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}